* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root{
  font-size: 62.5%; /* 10px */
}


body,
input {
  font-family: "Poppins", sans-serif;
}

body {
  background: rgba(66, 211, 255, 0.31);
}

/*Adiciona elemento antes do conteudo*/
/*Retangulo preto do fundo*/
body::before {
  content: "";
  width: 100%;
  height: 36.8rem;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  background-color: black;
}

.page {
  max-width: 73.6rem;
  width: 90vw;
  margin: auto;
}

header {
  width: 90vw;
  margin-top: 7.4rem;
}

header h1 {
  font-family: "Archivo", sans-serif;
  font-weight: bold;

  font-size: 3.6rem;
  line-height: 4.2rem;
  color: white;

  margin-bottom: 2.4rem;
}

header p {
  color: #42d3ff;
  font-size: 1.6rem;
  line-height: 2.6rem;
}

/* FORM */
#wrapper {
  border-radius: 0.8rem;
  margin-top: 3.8rem;
  background: #fafafc;
  min-height: 30.0rem;
  padding: 6.4rem;
}

fieldset {
  border: none;
}

fieldset legend {
  font-family: "Archivo", "san-serif";
  font-weight: 600;
  font-size: 2.4rem;
  line-height: 3.4rem;

  width: 100%;
  border-bottom: 1px solid #e6e6f0;
  padding-bottom: 1.6rem;
}

.input-wrapper {
  display: flex;
  flex-direction: column;

  width: 100%;

  margin-top: 2.4rem;
}

.input-wrapper label {
  color: #4e4958;
  font-size: 1.4rem;
  line-height: 2.4rem;

  margin-bottom: 0.8rem;
}

.input-wrapper label span {
  margin-left: 1.2rem;

  color: #6c6a71;
  font-size: 1.2rem;
  line-height: 2.0rem;
}

.input-wrapper input,
.input-wrapper select {
  background: #fafafc;
  height: 5.6rem;
  border: 1px solid #e6e6f0;
  border-radius: 0.8rem;
  padding: 0 2.4rem;
  font-size: 1.2rem;
  line-height: 2.6rem;
}

#infos-extras {
  height: 16.8rem;
  padding: 1.2rem;
}

.input-wrapper select {
  appearance: none;
}

/* CAMPO PRIVACIDADE */
fieldset#privacy {
  margin-top: 4.8rem;
}

.input-privacy {
  margin-top: 2.4rem;
}

/* CAMPO DATA */
fieldset#date {
  margin-top: 4.8rem;
}

div#date {
  margin-top: 2.4rem;
  display: flex;
  flex-wrap: wrap;
  gap: 2.0rem;
}

#input-date {
  background: #fafafc;
  border: 1px solid #e6e6f0;
  border-radius: 0.8rem;
  padding: 0 2.4rem;
  font-size: 1.2rem;
  line-height: 2.6rem;
}

.input-date {
  display: flex;
  flex-direction: column;
}

.input-date input {
  width: 100%;
  height: 5.6rem;
  border-radius: 0.8rem;
  border: 1px solid #e6e6f0;
  background: #fafafc;
  text-align: center;
  font-size: 1.6rem;
}

#initial-hour,
#final-hour {
  width: 100%;
}

input[type="date"]::-webkit-inner-spin-button,
input[type="date"]::-webkit-calendar-picker-indicator {
  display: none;
  -webkit-appearance: none;
}

/* CAMPO BOTÃO */
#down {
  height: 13.6rem;
  border-radius: 0px 0px 8px 8px;
  background: #f0f0f4;
  padding: 4.0rem 6.4rem;
}

button#save {
  width: 100%;
  height: 100%;

  border-radius: 8px;
  background: #04d361;
  border: none;

  color: #fff;
  font-family: Archivo;
  font-size: 1.6rem;
  font-style: normal;
  font-weight: 600;
  line-height: 2.6rem;
}

button#save:hover{
  background-color: #168648;
}

/* VALIDAÇÂO */
input:invalid{
  border: 1px solid #FF1010;
}

@media (max-width:280px) {
  header h1{
    font-size: 2.9rem;
  }
  #wrapper{
    padding: 2rem;
  }
  :root{
    font-size: 52.5%; /* 10px */
  }
}